body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background: url('../../../assets/Marco_info.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav .nav-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul li {
    list-style: none;
    padding: 10px 20px;
}

.back-button {
    margin-right: auto;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h1 {
    margin-top: 60px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
    margin-top: -20px;
}

.character-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.character-info {
    text-align: left;
    width: 40%;
    margin-left: 20px;
}

img {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin-right: 20px; /* Espacio entre la imagen y la descripción */
}

img::before {
    content: '';
    position: absolute;
    top: -10px; left: -10px;
    right: -10px; bottom: -10px;
    background: inherit;
    filter: blur(10px); /* Ajusta el radio del desenfoque según sea necesario */
    z-index: -1;
}

button {
    padding: 10px 20px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: white;
    color: black;
}
